<nav class="site-nav">
  <ul class="nav-list">
    <li><a href="/">Inicio</a></li>
    <li><a href="/medicina/">Medicina interna</a></li>
    <li><a href="/nefrologia/">Nefrología</a></li>
    <li><a href="/curriculum/">Currículum</a></li>
    <li class="nav-group">
      <a href="/obras/">Obras</a>
      <ul class="nav-sublist">
        <li><a href="/obras/poesia/">Poesía</a></li>
        <li><a href="/obras/teatro/">Teatro</a></li>
        <li><a href="/obras/canciones/">Canciones</a></li>
      </ul>
    </li>
    <li><a href="/contacto/">Contacto</a></li>
  </ul>
</nav>
